# ============================================================
#  FairLens — Local Development Environment
# ============================================================

# YOUR ONLY REQUIRED VALUE
# Get free key: https://makersuite.google.com/app/apikey
GEMINI_API_KEY=AIzaSyDHfl8rp1ASngOzB7EUmW5BuxkZHH_yzRE

# App Settings
APP_ENV=development
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173
MAX_FILE_SIZE_MB=50
SECRET_KEY=3f5547c30355212e0d555cb28fa208b05001aa6e2848220c2601ff116e6e2945